h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --liner-grey: #121212linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  --orange: #f87719;
  --liner-orange: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --liner-orange-light: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
  --grey-white-theme: #595959;
  --secondary-black: #282828;
  --background: #111111;
  --secondary-text: #f8f8f8;
  --grey: #b7b7b7;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.button-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--background);
}
@media screen and (min-width: 768px) {
  .button-text {
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  .button-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.weekly-trends {
  background-color: var(--secondary-black);
}

.flex_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .flex_wrapper {
    margin-top: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .flex_wrapper {
    margin-top: 80px;
    margin-bottom: 28px;
  }
}

.weekly-trends__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .weekly-trends__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .weekly-trends__title {
    font-size: 28px;
    line-height: 33px;
  }
}

.weekly-trends__link {
  color: #F87719;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .weekly-trends__link {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .weekly-trends__link {
    font-size: 28px;
    line-height: 33px;
  }
}

.weekly-trends__link:hover {
  transform: scale(1.12) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.js-list {
  display: flex;
  gap: 16px;
}

.cards-list-item {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
  border-radius: 5px;
}
.cards-list-item:hover {
  box-shadow: 7px -7px 21px rgba(128, 69, 206, 0.6);
  transform: scale(1.12) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .cards-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .cards-list-item {
    width: calc((100% - 32px) / 3);
    margin-left: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .cards-list-item {
    width: calc((100% - 48px) / 3);
    margin-left: 16px;
  }
}

.cards__list-title {
  color: aliceblue;
}

.cards__list-text {
  color: #B7B7B7;
}/*# sourceMappingURL=main.css.map */