html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.body__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.button-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--background);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.4;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
