<section class="section-hero hero-container">
  <div class="hero-content">
    <div class="hero-info">
      <h1 class="hero-title"></h1>
      <div class="movie-rating hero-rating">
        <div class="stars"></div>
        <div class="rating-value"></div>
      </div>
      <p class="hero-overview"></p>
      <button class="hero-trailer-btn">Watch trailer</button>
      <button class="hero-details-btn">More details</button>
    </div>
  </div>
  <div class="hero-img" id="hero">
    <div class="hero-gradient"></div>
  </div>

  <div class="modal" id="detailsModal">
    <div class="modal-content">
      <h2 class="modal-title"></h2>
      <p class="modal-overview"></p>
      <button class="modal-close-btn">Close</button>
    </div>
  </div>

  <div class="modal" id="trailerModal">
    <div class="modal-content trailer-modal-content">
      <div class="modal-trailer"></div>
      <button class="modal-close-btn trailer-close-btn">Close</button>
    </div>
  </div>
</section>
