<section class="section-hero hero-container">
    <div class="hero-content">
      <div class="hero-info">
      <h1 class="hero-title"></h1>
      <p class="hero-rating"></p>
      <p class="hero-overview"></p>
      <button class="hero-details-btn">More details</button>
      <button class="hero-trailer-btn">Watch trailer</button>
    </div>
    </div>
    <div class="hero-img" id="hero">
      <div class="hero-gradient"></div>
    </div>

  <div class="modal" id="detailsModal">
    <div class="modal-content">
      <h2 class="modal-title"></h2>
      <p class="modal-overview"></p>
      <button class="modal-close-btn">Close</button>
    </div>
  </div>

  <div class="modal" id="trailerModal">
    <div class="modal-content">
      <h2 class="modal-title"></h2>
      <div class="modal-trailer"></div>
      <button class="modal-close-btn">Close</button>
    </div>
  </div>
</section>