.library-hero__title {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 8px;
  // margin-left: 20px;
  color: #f8f8f8;

  font-weight: 700;
  font-size: 32;
  line-height: 37.5px;
  @include tablet {
    margin-bottom: 8px;
    // margin-left: 32px;
    padding-top: 62px;
    font-size: 44;
    line-height: 52px;
    color: #f8f8f8;
  }
  @include desktop {
    margin-bottom: 16px;
    padding-top: 170px;
    // margin-left: 117px;
    color: #f8f8f8;
  }
}

.library-hero__description {
  max-width: 249px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  // margin-left: 20px;
  padding-bottom: 114px;
  color: #f8f8f8;
  @include tablet {
    line-height: 1.2;
    // margin-left: 32px;
    max-width: 357px;
    max-height: 432px;
    padding-bottom: 118px;
    margin-bottom: 8px;
  }
  @include desktop {
    font-weight: 400;
    line-height: 1.2;
    // margin-left: 117px;
    max-width: 464px;
    padding-bottom: 224px;
    color: #f8f8f8;
  }
}

// Фон

.library-hero {
  min-height: 380px;
  max-height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/library_foto/library1xphone.jpg);
  background-size: cover;
  margin-bottom: 40px;

  @include mobile {
    max-height: 380px;
  }
  @include tablet {
    max-height: 432px;
  }
  @include desktop {
    max-height: 720px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .library-hero {
    background-image: url(/src/img/library_foto/library1xphone.jpg);
  }
}

// фон телефон
@include mobile {
  .library-hero {
    background-image: url(/src/img/library_foto/HeroTabletLib.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .library-hero {
      background-image: url(/src/img/library_foto/HeroTabletLib2x.jpg);
    }
  }
}

//  таблет фон

@include tablet {
  .library-hero {
    background-image: url(/src/img/library_foto/HeroTabletLib.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .library-hero {
      background-image: url(/src/img/library_foto/HeroTabletLib2x.jpg);
    }
  }
}

// декстоп фон

@include desktop {
  .library-hero {
    background-image: url(/src/img/library_foto/Desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .library-hero {
      background-image: url(/src/img/library_foto/Desktop2x.jpg);
    }
  }
}
.visualy_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  position: absolute;
  visibility: hidden;
  display: none;
}

// .container-catalog {
//   // margin-left: auto;
//   // margin-right: auto;
//   // padding-left: 20px;
//   // padding-right: 20px;
// }

.container-my-labrary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 160px;
    padding-bottom: 96px;
  }
}
.btn-my-labrary {
  // margin-left: auto;
  // margin-right: auto;

  background-image: var(--liner-orange);
  border: none;
  border-radius: 74px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
}
.oppsText {
  // margin-top: 160px;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.12;
  gap: 10px;
}

.section-ctg-search {
  // background-color: var(--background);
  padding-top: 40px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 80px;
    padding-bottom: 48px;
  }
}

.ctg-section-title {
  display: none;
}

.ctg-search-form {
  // background-color: var(--background);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 10px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 16px;
  }
}

.ctg-box-search {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

// .ctg-box-search-day{
//   border: 1px solid #595959;
// }

//==========Поле інпуту

.ctg-search-input {
  // background-color: var(--background);
  color: var(--grey);
  cursor: pointer;
  padding-left: 20px;
  width: 224px;
  height: 40px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #595959;
  border-radius: 8px;
  outline: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 204px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
    padding-left: 24px;
    height: 48px;
    width: 334px;
  }
}

.ctg-search-input::placeholder {
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--grey);
}

//========//Поле інпуту//

// ====Кнопка закриття пошуку

.ctg-btn-close-search {
  position: absolute;
  cursor: pointer;
  stroke: var(--secondary-text);
  background-color: rgba(0, 0, 0, 0);
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 18px;
  height: 18px;
  // background-color: var(--background);
}

.ctg-btn-close-search:hover {
  stroke: var(--orange);
}

.ctg-svg-close-cross {
  // background-color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ====//Кнопка закриття пошуку//

// ====Кнопка пошуку

.ctg-btn-submit-search {
  padding: 0;
  position: relative;
  stroke: var(--white);
  fill-opacity: 0;

  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background: var(--liner-orange);

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    width: 48px;
  }
}

.ctg-svg-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ====//Кнопка пошуку//

// ====Повідомлення для користувача
.error-message {
  display: block;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  // color: var(--secondary-text);
  @media screen and (min-width: 768px) {
    padding-top: 44px;

    font-size: 24px;
    line-height: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 72px;

    font-size: 32px;
    line-height: 36px;
    /* or 112% */
  }
}

// ====//Повідомлення для користувача//

//==============галлерея===============//
// .section-nosuccsess-msg {
//   background-color: var(--background);
//   padding-top: 32px;
//   padding-bottom: 0px;
// }
.ctg-movies {
  // background-color: var(--background);
  padding-top: 0px;
  padding-bottom: 0px;
}

.ctg-movies__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  row-gap: 16px;

  @media screen and (min-width: 768px) {
    row-gap: 28px;
    column-gap: 16px;
  }

  @media screen and (min-width: 1280px) {
    row-gap: 32px;
  }
}

.movies-card {
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 7px -7px 21px rgba(126, 13, 233, 0.6);
    transform: scale(1.05) translateZ(0);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 3);
  }
}

.movies-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
}

.movies-card-photo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: var(--liner-grey);
}

.movies-card-title {
  text-transform: uppercase;
  color: var(--white);
  position: absolute;
  left: 12px;
  bottom: 40px;

  font-style: normal;
  font-weight: 500;
  //font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.movies-card-genres {
  color: var(--grey);
  position: absolute;
  left: 12px;
  bottom: 12px;

  font-style: normal;
  font-weight: 500;
  //font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
    bottom: 20px;
    left: 20px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.15;
    bottom: 20px;
    left: 20px;
  }
}

.movies-card-rating {
  color: var(--orange);
  position: absolute;
  right: 12px;
  bottom: 12px;
  font-size: 24px;
}

.movie-rating {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

// Стилізація пагінації

.section-pagination {
  // background-color: var(--background);
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 44px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  color: var(--grey);
  background: transparent;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  @media screen and (min-width: 768px) {
    margin-right: 16px;
    height: 40px;
    width: 40px;
    font-size: 14px;
    line-height: 14px;
  }
}

// .tui-page-btn:hover,
// .tui-page-btn:focus {
//   color: var(--liner-orange);
//   border: 1px solid var(--liner-orange);
// }

.tui-page-btn.tui-is-selected {
  color: var(--white);
  border: none;
  cursor: pointer;
  background: var(--liner-orange);
}

.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-page-btn.tui-next-is-ellip.tui-last-child {
  border: none;
}

.tui-page-btn.tui-next {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text);
  background-image: url('../img/arrows_pagination/right_mobile.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  margin-right: 0;

  @media screen and (min-width: 768px) {
    height: 28px;
    width: 28px;
    background-image: url('../img/arrows_pagination/right_tablet.svg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../img/arrows_pagination/right_decktop.svg');
  }
}

.tui-page-btn.tui-prev {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text);
  background-image: url('../img/arrows_pagination/left_mobile.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;

  margin-right: 16px;

  @media screen and (min-width: 768px) {
    height: 28px;
    width: 28px;
    background-image: url('../img/arrows_pagination/left_tablet.svg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../img/arrows_pagination/left_decktop.svg');
  }
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  fill: #b7b7b7;
  border: none;
  align-items: flex-end;
  width: 10px;
}

.tui-is-disabled {
  display: none;
}

.tui-next-is-ellip.tui-last-child {
  margin-right: 16px;
}

.tui-last,
.tui-first {
  display: none;
}

//===========Скролл
#scroll-to-top {
  @include centerFlex();
  position: fixed;
  flex-direction: column;
  bottom: 50px;
  right: 50px;

  background: transparent;
  opacity: 0;
  z-index: 50;
  padding: 0;
  // border-radius: 50%;
  border: none;
  transform: translateY(30%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  cursor: pointer;

  @include tablet {
    // right: 30px;
  }

  @include desktop {
    // right: 50px;
  }
}

// A R R O W

.arrow {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #ffc226;
  border-right: 4px solid #ffc226;
  margin: -10px;
  animation: animate 2s infinite;

  @include tablet {
    width: 25px;
    height: 25px;
    margin: -5px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

// .arrow:nth-child(2) {
//   animation-delay: -0.2s;
//   border-bottom: 4px solid #fb801f;
//   border-right: 4px solid #fb801f;
// }

// .arrow:nth-child(3) {
//   animation-delay: -0.4s;
//   border-bottom: 4px solid #f84119;
//   border-right: 4px solid #f84119;
// }

// @keyframes animate {
//   0% {
//     opacity: 0;
//     transform: rotate(-135deg) translate(-15px, -15px);
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: rotate(-135deg) translate(15px, 15px);
//   }
// }
