<section id="catalog" class="section-catalog section-ctg-search">
  <div class="container container-catalog">
    <h2 class="ctg-section-title">Catalog</h2>

    <form class="ctg-search-form" id="search-form">
      <div class="ctg-box-search">
        <input
          class="ctg-search-input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search"
        />

        <button class="ctg-btn-close-search" type="button">
          <svg class="ctg-svg-close-cross" width="9px" height="9px">
            <use href="/src/img/sprite.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
      <!-- <select class="select-year" name="" id=""></select> -->
      <button class="ctg-btn-submit-search" type="submit">
        <svg class="ctg-svg-magnifying-glass" width="15px" height="15px">
          <use href="/src/img/sprite.svg#icon-magnifying-glass"></use>
        </svg>

        <!-- Градиент
          <linearGradient id="linear-gradient">
            <stop offset="9.4%" stop-color="#ffc226" />
            <stop offset="91.91" stop-color="#f84119" />
          </linearGradient> -->
      </button>
    </form>
  </div>
</section>

<section class="section-catalog ctg-movies">
  <div class="container">
    <h2 class="ctg-section-title">Catalog Movies</h2>
    <ul class="ctg-movies__list modal-films"></ul>
  </div>
</section>

<section class="section-catalog section-pagination">
  <div class="container">
    <h2 class="ctg-section-title">Catalog Pagination</h2>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>

  <button id="scroll-to-top">
    <span class="arrow"></span>
    <!-- <span class="arrow"></span> -->
    <!-- <span class="arrow"></span> -->
  </button>
</section>
