
.weekly__trends-all {
  padding: 52px 32px 22px 32px;
  @media (max-width: 767px) {
    padding: 40px 20px 16px 20px;
  }
background-color:  #111111;
}

.flex_wrapper {
    display:flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
         margin-top: 52px;   
        }
    @media screen and (min-width:1280px) {
           margin-top: 80px;
           margin-bottom: 28px;
        }
}
  .weekly-trends__title {
    color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.19;
        @media screen and (min-width: 768px) {
                font-size: 24px;
                line-height: 1.17;
            }
        
            @media screen and (min-width:1280px) {
                font-size: 28px;
                line-height: 1.18;
            }
        
}
  
  .weekly-trends__link {
 color: #F87719;
    font-size: 16px;
    line-height: 1.19;
  @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 1.17;
        }
   @media screen and (min-width:1280px) {
            font-size: 28px;
            line-height: 1.18;
        }
        
}
.weekly-trends__link:hover{
    transform: scale(1.12) translateZ(0);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

// ul
.js-list{
    display: flex;
    gap: 16px;
    justify-content: center;
}
    
.cards-list-item{
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 7px -7px 21px rgba(171, 67, 175, 0.6);
    }
  }
.cards-list-item:not(:first-child) {
        @media (max-width: 767px) {
          position: absolute;
          padding: 0;
          border: 0;
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

      }
    
    .weekly-trends__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60%;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8)
      );
    }

    .cards__bloc-stars{
      position: absolute;
      width: 223px;
      height: 54px;
      left: 20px;
      bottom: 20px;
      z-index:100;
    }

    .cards__list-text{
      color:#FFFFFF;
      max-width: 290px;
    }

.cards__list-title{
color:#FFFFFF;
font-weight: 500;
 font-family: "Roboto";
 width: 230px;
font-size: 12px;
line-height: 1.67;
text-transform: uppercase;
@media screen and (min-width: 768px) {
  font-size: 14px;
  line-height: 1.29;
}
@media screen and (min-width:1280px) {
  font-size: 20px;
  line-height: 1.17;
}

}

