.weekly__trends-all {
  padding: 40px 20px 16px 20px;
  @media screen and (min-width: 768px) {
    padding: 52px 32px 22px 32px;
  }
}

// .weekly-container {
//  
//   @include tablet {
//     max-width: 768px;
//   }
//   @include desktop {
//     max-width: 1280px;
//   }
// }
.flex_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin: auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
    max-width: 1280px;
  }
}
.weekly-trends__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.19;
  font-style: normal;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    font-size: 28px;
    line-height: 1.18;
  }
}
.weekly-trends__link {
  color: var(--orange);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.19;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1280px) {
    font-size: 28px;
    line-height: 1.18;
  }
}

.weekly-trends__link:hover {
  color: #ff001b;
  transform: scale(1.12) translateZ(0);
}
// ul
.js-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.cards-list-item {
  position: relative;
  margin-left: 20px;
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 7px -7px 21px rgba(126, 13, 233, 0.6);
  }
}

.cards-list-item:not(:first-child) {
  @media screen and (max-width: 767px) {
    position: absolute;
    clip: rect(0 0 0 0);
    justify-content: center;
  }
}
.cards-list-item:hover {
  transform: scale(1.12) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.weekly-trends__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
}

.cards__bloc-stars {
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 1;
  color: beige;
  @media screen and (min-width: 1280px) {
    left: 20px;
    bottom: 20px;
  }
}

.cards__list-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b7b7b7;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.15;
  }
}
.cards-list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.15;
  }
}
.weekly__rating {
  display: flex;
  align-items: center;
  position: relative;
}
.weekly__stars {
  color: #f87719;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 10px;
}
.cards__list-img{
  margin-top: 24px;
  @media screen and (min-width: 320px) {
  width: 280px;
  height: 406px;
}
@media screen and (min-width: 768px){
  width: 224px;
  height: 335px;
}

@media screen and (min-width: 1280px) {
  width: 395px;
  height: 574px;
  margin-bottom: 28px;
}
}