<header class="header">
  <div class="header-container container">
    <div class="header-logo">
      <svg class="header-logo-icon" width="48" height="48">
        <use href=""></use>
      </svg>
      <a class="header-logo-text" href="">Cinemania</a>
    </div>

    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">HOME</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">CATALOG</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>

  <button type="button" class="mobile-menu-open js-open-menu">
    <span class="menu">MENU</span>
  </button>

  <div class="mobile-menu js-menu-container">
    <div class="container mobile-menu-container">
      <div class="header-mobile-menu">
        <button type="submit" class="mobile-menu-close-btn js-close-menu">
          <svg class="header-logo-icon" width="32" height="32">
            <use href=""></use>
          </svg>
        </button>
      </div>

      <nav class="header-nav">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-link link" href="">HOME</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="">CATALOG</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
