<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-link">
      <svg class="header-logo-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>

      <span class="header-logo-text">Cinemania</span>
    </a>

    <ul class="menu-list list">
      <li class="menu-item">
        <a href="./index.html" class="menu-link link " id="home-day">HOME</a>
      </li>
      <li class="menu-item">
        <a href="./catalog.html" class="menu-link link" id="catalog-day"
          >CATALOG</a
        >
      </li>
      <li class="menu-item">
        <a href="./library.html" class="menu-link link" id="my-libery-day"
          >MY LIBRARY</a
        >
      </li>
    </ul>

    <button type="button" class="mobile-menu-open js-open-menu">
      <span class="header-menu" id="menu-link">MENU</span>
    </button>

    <div>
      <button type="button" class="icon-night" id="switch-icon"></button>
    </div>

    <div class="mobile-menu js-menu-container">
      <div class="container mobile-menu-container">
        <button type="submit" class="mobile-menu-close-btn js-close-menu">
          <svg class="header-logo-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </button>

        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a href="./index.html" class="mobile-menu-link link current"
              >HOME</a
            >
          </li>
          <li class="mobile-menu-item">
            <a href="./catalog.html" class="mobile-menu-link link">CATALOG</a>
          </li>
          <li class="mobile-menu-item">
            <a href="./library.html" class="mobile-menu-link link"
              >MY LIBRARY</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
